.flex-container{

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    clear: both;
    margin-top: 10px;
    background-color: #435165 ;
}

.register-rescuer{
    width: 200px;
    margin: 50px;
    height: 400px;
}
.register-rescuer form{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    color:white;
    
}
.register-rescuer form input[type="password"], .register-rescuer form input[type="text"], .register-rescuer form input[type="tel"] {
    width: 100px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.register-rescuer form input[type="submit"] {
    width: 100%;
    padding: 5px;
   margin-top: 20px;
    background-color:dodgerblue;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register-rescuer form label{

    color:white;
    padding:2px;
    font-size: 16px;

}
/****************/
.panel{
    margin-left: 10px;
    padding-top: 10px;
   
    margin-bottom: 10px;
}
table,td,th{

    border: 1px solid black;
    
}
table{
    border-collapse: collapse;
     
}
#inventory{
    margin: 20px;
}

#cargo_table{
    margin-left:20px;
}
/*******/
tr:nth-child(odd){
    background-color: #435165;
}
tr:nth-child(even){
    background-color: dodgerblue;
}
th {
    
    color: white;
    font-size: 24px;
    padding: 10px;
  }/*Ola ta table headers tha exoun prasino xroma kai to keimeno tha exei aspro xroma*/
td{
    text-align: center; /*ousiastika to text align einai to orizontio align th stixish tou keimenou mesa sto keli*/
    vertical-align: middle  ;/* ston aksona y tou keliou pou vrisketai to keimeno koryfh mesh h kato(default mesh)*/
    font-size: 24px;
    padding: 10px;
}
/**to border einai ta oria ,to keli ,ta akra tou pinaka,perigrama*/
button{
    background-color: #04AA6D; /*to xroma tou backround tou koubioy*/
    color:#dee0e4;/*to xroma tou keimenou tou koubiou*/
    border: none;/*an de valo border none tote einai me to perigrama to koubi, eno etsi apeleytheronetai ginetai pio xontro*/
    font-size: 18px;/*megethos tou keimenou tou koubiou*/
    text-align: center;
    display: inline-block;
    padding: 10px;
}
.markerpopup{
    background-color: #435165;/*olo to popup alla meso ths bindpopup*/
}

.popups{
    background-color: #435165;/*olo to popup*/
}
.leaflet-popup-content-wrapper,.leaflet-popup-tip{
    background-color:  #435165  /*kanei override to style tou leaflet.css arxeiou*/; 
}
.marker_text{
    background-color: #435165;
    font-size: 20px;
    color:white;
    font-family: 'Courier New', monospace;
    padding: 3px 0;
}
.marker_text > div{
    text-align: center;
}
.marker_text > div > button{
    background-color: #d1c515;
    color:white;
}
/***************/
.header{
    background-color: #435165;
    padding: 40px;
}


.header a{

    background-color: dodgerblue;
    color: white; 
    text-align: center;
    font-size: 18px; 
    border-radius: 3px; /*otan einai mia timh einai kai stis dyo diastaseis*/
    padding: 10px;

    /*ola ta links tou header ths selidas*/

}
.logout{
    float: right;
}/*to float dilonei oti to periexomeno aytou tou element-olo to element tha metatopistei-epipleysei pros ta deksia tou container tou*/

.itemfetch{
    float: left;
}
 .itemfetch button{
    background-color: dodgerblue;
    color:#dee0e4;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;

 }
.itemupload{
    width: 200px;/*anagastika alios to margin de douleyei*/
    margin: 0 auto;
    
}

.itemupload form{
    display: flex;
    flex-direction: row;
    
}
 .itemupload form input[type="submit"] {
    background-color: dodgerblue;
    color:white;
    border-radius: 3px ;
    border:0;
    cursor: pointer;
    font-size: 18px;
    padding :  5px;
    
 }
 .itemupload form input[type="file"]::file-selector-button{

    background-color: dodgerblue;
    color: white;
    border-radius:3px;
    cursor: pointer;
    border:none;
    font-size: 18px;
    padding:3px;
 }

 .itemupload label{
    color:white;
    font-size: 18px;
    padding: 2px;
 }
 #map{
    border: 1px solid #435165;
 }